In [29]:
import pandas as pd
import numpy as np

In [30]:
# alguns parametros que podem ser passados tbm no momento em que estamos carregando a base de dados com o pd.read():
# - encoding= (que é sobre a codificação dos caracteres da base de dados. por padrão ele usa utf-8)
# - sep= (indica o simbolo que separa os dados no arquivo que esta sendo lido. por padrão ele usa ",")
# - low_memory= (como vc ira tratar quando existe alguma coluna na sua base de dados que possui tipos de dados misturados)

vendas_df = pd.read_csv("C:/Users/jhona/OneDrive/Projetos/Pandas/Data/vendas_tech.csv", encoding="utf-8", low_memory=False)
gerentes_df = pd.read_excel("C:/Users/jhona/OneDrive/Projetos/Pandas/Data/gerentes_lojas.xlsx")

### Inspeção

In [31]:
display(vendas_df.head(10)) # head(n) --> exibe as primeiras n linhas do df
display(vendas_df.tail(10)) # tail(n) --> exibe as ultimas n linhas do df
display(vendas_df.sample(10)) # sample(n) --> pega n linhas de forma aleatoria do df
display(vendas_df.columns) # exibe as TODAS as colunas do seu df em formato de lista

display(vendas_df.info()) # pega informações (colunas, tipo de dados, consumo de memoria) do df
display(vendas_df.describe()) # descreve algumas informações estatísticas do df

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Data_Base
0,1,2023-06-08,São Paulo,Mouse Gamer,120.0,1,Cliente_4095,2025-01-01
1,2,2023-03-01,Belo Horizonte,iPhone 14,5500.0,1,Cliente_8750,NaN
2,3,2023-02-25,NaN,"Monitor 27""",1200.0,1,Cliente_14859,NaN
3,4,2024-11-19,RIO DE JANEIRO,Mouse Gamer,120.0,2,Cliente_17343,NaN
4,5,2024-01-27,Rio de Janeiro,Smartphone Samsung,2200.0,1,Cliente_23377,NaN
5,6,2023-03-11,São Paulo,Cabo HDMI,40.0,1,Cliente_24809,NaN
6,7,2024-12-08,Salvador,"Monitor 27""",1200.0,1,Cliente_11076,NaN
7,8,2024-09-12,São Paulo,"Monitor 27""",1200.0,2,Cliente_14053,NaN
8,9,2023-05-20,Belo Horizonte,Mouse Gamer,120.0,1,Cliente_19175,NaN
9,10,2024-10-16,Recife,Notebook HP,3200.0,1,Cliente_13508,NaN

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Data_Base
100090,15752,2023-03-20,Curitiba,"Monitor 27""",1200.0,1,Cliente_356,NaN
100091,4801,2023-10-29,São Paulo,Smartphone Samsung,2200.0,1,Cliente_5799,NaN
100092,89541,2023-09-01,Porto Alegre,"Monitor 27""",1200.0,1,Cliente_24144,NaN
100093,77528,2024-03-30,São Paulo,"Monitor 27""",1200.0,3,Cliente_5144,NaN
100094,32853,2024-04-10,Salvador,Smartphone Samsung,2200.0,2,Cliente_29799,NaN
100095,94091,2023-10-20,Porto Alegre,iPhone 14,5500.0,1,Cliente_11755,NaN
100096,52883,2024-03-17,Porto Alegre,Notebook Dell,3500.0,2,Cliente_12879,NaN
100097,65070,2023-06-19,Belo Horizonte,Smartphone Samsung,2200.0,2,Cliente_8160,NaN
100098,94031,2024-06-14,Salvador,iPhone 14,5500.0,2,Cliente_28545,NaN
100099,36755,2023-01-03,São Paulo,Notebook HP,3200.0,2,Cliente_3274,NaN

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Data_Base
21571,21572,2023-06-29,Porto Alegre,Notebook HP,3200.0,1,Cliente_14481,NaN
41693,41694,2023-08-07,Belo Horizonte,Notebook Dell,3500.0,1,Cliente_2896,NaN
95830,95831,2024-05-30,Curitiba,"Monitor 27""",1200.0,3,Cliente_19993,NaN
73285,73286,2024-03-06,Belo Horizonte,"Monitor 27""",1200.0,10,Cliente_12958,NaN
50841,50842,2024-10-17,Porto Alegre,Smartphone Samsung,2200.0,1,Cliente_444,NaN
26677,26678,2023-01-19,Salvador,Teclado Mecânico,250.0,1,Cliente_2696,NaN
34438,34439,2024-11-28,São Paulo,iPhone 14,5500.0,1,Cliente_8868,NaN
909,910,2023-11-28,Rio de Janeiro,Teclado Mecânico,250.0,1,Cliente_5371,NaN
91115,91116,2023-07-06,Salvador,Mouse Gamer,120.0,5,Cliente_8634,NaN
46715,46716,2023-06-14,Belo Horizonte,Mouse Gamer,120.0,5,Cliente_4632,NaN

Index(['ID_Pedido', 'Data', 'Loja', 'Produto', 'Preco_Unitario', 'Qtd',
       'Cliente', 'Data_Base'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100100 entries, 0 to 100099
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID_Pedido       100100 non-null  int64
 1   Data            100100 non-null  object
 2   Loja            98099 non-null   object
 3   Produto         100100 non-null  object
 4   Preco_Unitario  100100 non-null  float64
 5   Qtd             100100 non-null  int64
 6   Cliente         100100 non-null  object
 7   Data_Base       1 non-null       object
dtypes: float64(1), int64(2), object(5)
memory usage: 6.1+ MB

None

           ID_Pedido  Preco_Unitario            Qtd
count  100100.000000   100100.000000  100100.000000
mean    50004.810180     2000.204595       1.499101
std     28866.872543     1841.050733       1.241605
min         1.000000       40.000000       1.000000
25%     25008.750000      120.000000       1.000000
50%     50004.500000     1200.000000       1.000000
75%     75002.250000     3200.000000       1.000000
max    100000.000000     5500.000000      10.000000

### Tratamento dos dados --> Corrigindo alguns problemas que a nossa base da dados possui

In [32]:
### 1° COLUNAS
# temos uma coluna (Data_Base) na nossa base de dados que é inútil (pois ela esta cheia de valores nulos)
'''
vendas_df.drop(columns=["coluna1", "coluna2", ..., "coluna_n"])
'''
df_analise = vendas_df.drop(columns=["Data_Base"])
# display(df_analise)

### 2° DADOS NULOS

# df_analise = df_analise.dropna()  # exlcui todas as linhas que possuem PELO MENOS 1 valor vazio (maneira mais simples de tratar valores vazio)

# vimos que a unica que coluna (tirando a Data_Base que ja excluimos) que tem alguns valores vazio é a "Loja".
# vamos então, ao inves de apagar as linhas aonde essa coluna é nula, preencher algum valor jsutamente nessa entrada que é nula
df_analise["Loja"] = df_analise["Loja"].fillna("Online") # vamos assumir que quando a loja estava vazio era na vrdd uma compra em uma loja Online
# display(df_analise)



### 3° TIPOS DE DADOS
# a coluna "Data" esta sendo reconhecida como texto, e não como data
df_analise["Data"] = pd.to_datetime(df_analise["Data"], format="%Y-%m-%d")
# display(df_analise.info())

### 4° PADRONIZAÇÃO
df_analise['Loja'] = df_analise['Loja'].str.strip() # remove espaços no inicio e no final do texto
df_analise['Loja'] = df_analise['Loja'].str.title() # padroniza o texto com a primeira letra de cada palavra maiuscula e as demais minusculas

gerentes_df['Loja'] = gerentes_df['Loja'].str.strip() # remove espaços no inicio e no final do texto
gerentes_df['Loja'] = gerentes_df['Loja'].str.title() # padroniza o texto com a primeira letra de cada palavra maiuscula e as demais minusculas



### 4° DUPLICATAS
# o parametro subset() dentro do drop_duplicates() é para voce selecionar quais colunas serão consideradas na analise de valores iguais
# exemplo: suponha que voce tenha duas linhas onde o unico valor que se repete é da coluna "ID_Pedido". com o drop_duplicates(), normal
# ou seja, sem esse parametro do subset, essas duas linhas não vao ser consideradas duplicata. logo, não vao ser removidas
# ai dentro do subset() vc passa quantas colunas vc quer considerar
# o parametro keep é para voce escolher qual linha o pandas ira manter dentre as linhas consideradas iguais
df_analise = df_analise.drop_duplicates(subset=["ID_Pedido"], keep="first") # remove as linhas que são iguais (os mesmo valores em todas as colunas)

display(df_analise)
# display(df_analise.info())

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente
0,1,2023-06-08,São Paulo,Mouse Gamer,120.0,1,Cliente_4095
1,2,2023-03-01,Belo Horizonte,iPhone 14,5500.0,1,Cliente_8750
2,3,2023-02-25,Online,"Monitor 27""",1200.0,1,Cliente_14859
3,4,2024-11-19,Rio De Janeiro,Mouse Gamer,120.0,2,Cliente_17343
4,5,2024-01-27,Rio De Janeiro,Smartphone Samsung,2200.0,1,Cliente_23377
...,...,...,...,...,...,...,...
99995,99996,2023-01-24,São Paulo,Mouse Gamer,120.0,2,Cliente_13732
99996,99997,2024-08-28,Rio De Janeiro,Cabo HDMI,40.0,1,Cliente_25058
99997,99998,2024-03-18,Curitiba,Smartphone Samsung,2200.0,2,Cliente_28864
99998,99999,2023-11-04,Porto Alegre,iPhone 14,5500.0,1,Cliente_4205
99999,100000,2024-06-15,Curitiba,Teclado Mecânico,250.0,1,Cliente_12237

### Criando novas colunas

In [33]:
### FATURAMENTO
df_analise["Faturamento"] = df_analise["Preco_Unitario"] * df_analise["Qtd"]


### FORMA DE VENDA --> queremos que essa coluna informe quando a venda é online ou não
## np.where(condicao, valor_verdadeira, valor_falso)
df_analise["Forma_de_Venda"] = np.where(df_analise["Loja"] == "Online", "Online", "Presencial")
# display(df_analise)


### REGIAO
# Como eu descubro quantas regiões existem? para isso, eu preciso saber quais sãos os valores distintos que essa coluna possui

# criando um dicionario para realizar o mapeamento entre cada cidade com a sua respectiva regiao
dic_regioes = {
    'São Paulo' : "Sudeste", 
    'Belo Horizonte' : "Sudeste", 
    'Online' : "Online", 
    'Rio De Janeiro' : "Sudeste",
    'Salvador' : "Nordeste", 
    'Recife' : "Nordeste", 
    'Curitiba' : "Sul", 
    'Porto Alegre' : "Sul"
} 
# display(df_analise["Loja"].unique())

# 1° forma de fazer isso: usando o map() com o auxilio de uma funcao

# def definir_regioes(loja):
#   dic_regioes = {
#     'São Paulo' : "Sudeste", 
#     'Belo Horizonte' : "Sudeste", 
#     'Online' : "Online", 
#     'Rio De Janeiro' : "Sudeste",
#     'Salvador' : "Nordeste", 
#     'Recife' : "Nordeste", 
#     'Curitiba' : "Sul", 
#     'Porto Alegre' : "Sul"
#   }

#   return dic_regioes[loja]

# df_analise["Região"] = df_analise["Loja"].map(definir_regioes)

# 2° forma é uma maneira mais simples: passar o dicionario dentro do map
df_analise["Região"] = df_analise["Loja"].map(dic_regioes)


display(df_analise)

### Como eu descubro se funcionou? no caso, vamos ver se existem algum valor vazio no nosso df
display(df_analise.isna().sum())

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Faturamento,Forma_de_Venda,Região
0,1,2023-06-08,São Paulo,Mouse Gamer,120.0,1,Cliente_4095,120.0,Presencial,Sudeste
1,2,2023-03-01,Belo Horizonte,iPhone 14,5500.0,1,Cliente_8750,5500.0,Presencial,Sudeste
2,3,2023-02-25,Online,"Monitor 27""",1200.0,1,Cliente_14859,1200.0,Online,Online
3,4,2024-11-19,Rio De Janeiro,Mouse Gamer,120.0,2,Cliente_17343,240.0,Presencial,Sudeste
4,5,2024-01-27,Rio De Janeiro,Smartphone Samsung,2200.0,1,Cliente_23377,2200.0,Presencial,Sudeste
...,...,...,...,...,...,...,...,...,...,...
99995,99996,2023-01-24,São Paulo,Mouse Gamer,120.0,2,Cliente_13732,240.0,Presencial,Sudeste
99996,99997,2024-08-28,Rio De Janeiro,Cabo HDMI,40.0,1,Cliente_25058,40.0,Presencial,Sudeste
99997,99998,2024-03-18,Curitiba,Smartphone Samsung,2200.0,2,Cliente_28864,4400.0,Presencial,Sul
99998,99999,2023-11-04,Porto Alegre,iPhone 14,5500.0,1,Cliente_4205,5500.0,Presencial,Sul
99999,100000,2024-06-15,Curitiba,Teclado Mecânico,250.0,1,Cliente_12237,250.0,Presencial,Sul

ID_Pedido         0
Data              0
Loja              0
Produto           0
Preco_Unitario    0
Qtd               0
Cliente           0
Faturamento       0
Forma_de_Venda    0
Região            0
dtype: int64

### Filtrar

In [34]:

### Ordenando o df com base na coluna de Data. dentro das que possuem Data igual, ele vai ordenar pela quantidade
df_analise = df_analise.sort_values(by=["Data", "Qtd"]) # essa operação emperalha os indices. é recomendado dar um reset para resetar os indices de volta ao convencional
df_analise = df_analise.reset_index(drop=True) # drop=True joga o indice antigo fora. se vc n faz isso ele cria uma nova coluna com os indices antigos

# supondo que eu so queira pegar algumas informações (loja, produto e cliente) para um dado id_pedido informadp
id_pedido = 1

# display(df_analise)

## .loc[linha, coluna]  --> localiza por nome da coluna e por nome da linha
# display(df_analise.loc[id_pedido, ["Loja", "Produto", "Cliente"]]) # aqui eu estou indo la linha 1 e pegando as info das colunas que eu pedi
# display(df_analise.loc[df_analise["ID_Pedido"]==1, ["Loja","Produto", "Cliente"]]) # aqui eu estou indo na linha aonde a coluna ID_Pedido tem valor igual a 1 e pegando as info das coluinas selecionadas

## .iloc[linha, coluna]  --> localiza por posicao, ou seja, ele é impactado pela ordem em que o df esta montado

# condicional
id_pedido_4 = df_analise[df_analise["ID_Pedido"]==4]

# display(id_pedido_4)

# ===============================================================================
### exportar pedaços da base: todas as vendas onde Loja é São paulo
df_vendas_sp = df_analise[df_analise["Loja"]=="São Paulo"]
# df_vendas_sp.to_csv("Vendas_SP.csv", index=False)

## exportar todas as vendas cujo ano é 2024
# como a coluna de Data é do tipo data, eu posso aplicar nela as funcoes desse tipo que o python tem
df_vendas_2024 = df_analise[df_analise["Data"].dt.year==2024]


## duplas condições --> por exemplo eu quero todas as vendas do produto Mouse Gamer da regiao sudeste
# df_analise[condicao1 & condicao2]
df_mouse_sudeste = df_analise[(df_analise["Produto"]=="Mouse Gamer")& (df_analise["Região"]=="Sudeste")]
display(df_mouse_sudeste)

,ID_Pedido,Data,Loja,Produto,Preco_Unitario,Qtd,Cliente,Faturamento,Forma_de_Venda,Região
15,16936,2023-01-01,Belo Horizonte,Mouse Gamer,120.0,1,Cliente_10912,120.0,Presencial,Sudeste
18,20156,2023-01-01,Belo Horizonte,Mouse Gamer,120.0,1,Cliente_29481,120.0,Presencial,Sudeste
21,30598,2023-01-01,Belo Horizonte,Mouse Gamer,120.0,1,Cliente_28724,120.0,Presencial,Sudeste
31,39483,2023-01-01,São Paulo,Mouse Gamer,120.0,1,Cliente_1274,120.0,Presencial,Sudeste
35,48375,2023-01-01,São Paulo,Mouse Gamer,120.0,1,Cliente_1544,120.0,Presencial,Sudeste
...,...,...,...,...,...,...,...,...,...,...
99836,95618,2024-12-29,Rio De Janeiro,Mouse Gamer,120.0,1,Cliente_22067,120.0,Presencial,Sudeste
99865,31002,2024-12-29,Belo Horizonte,Mouse Gamer,120.0,3,Cliente_24722,360.0,Presencial,Sudeste
99870,1137,2024-12-30,Rio De Janeiro,Mouse Gamer,120.0,1,Cliente_16524,120.0,Presencial,Sudeste
99888,14475,2024-12-30,Belo Horizonte,Mouse Gamer,120.0,1,Cliente_21570,120.0,Presencial,Sudeste
99928,68891,2024-12-30,Belo Horizonte,Mouse Gamer,120.0,1,Cliente_5965,120.0,Presencial,Sudeste

### Analises por agrupamento

In [35]:
### Pegando a loja que mais vendeu

# groupy() --> ele agrupa a coluna que voce passa dentro do ()
# por exemplo, se eu agrupar por loja, cada loja so vai aparecer uma vez

analise_lojas = df_analise[["Loja", "Faturamento"]].groupby("Loja").sum() # OBS: por padrão a "Loja" vai ser usada como indice no
# novo df montado. o parametro as_index=False do groupby tira isso (mas vamos fazer isso de uma outra forma, como segue abaixo)
analise_lojas = analise_lojas.sort_values(by="Faturamento", ascending=False)
analise_lojas = analise_lojas.reset_index()

# formatando agora a coluna faturamento
analise_lojas["Faturamento"] = analise_lojas["Faturamento"].map("R${:,.2f}".format)

# a linha acima faz: ela agrupa a coluna "Loja" somando os valores da coluna "Faturamento", ou seja, como cada loja so vai
# aparecer uma vez, o que vai acontecer com a coluna "Faturamento" das linhas em que a coluna "Loja" é igual? esses valores vao ser somados!!
# display(analise_lojas)


### RANKING DOS PRODUTOS QUE MAIS VENDERAM ONLINE
df_produtos_online = df_analise[df_analise["Loja"]=="Online"]
analise_produtos_online = df_produtos_online[["Produto", "Qtd"]].groupby("Produto").sum()
analise_produtos_online = analise_produtos_online.sort_values(by="Qtd", ascending=False)
analise_produtos_online = analise_produtos_online.rename(columns={"Qtd" : "Quantidade"})
display(analise_produtos_online)

                    Quantidade
Produto
Notebook HP                442
Cabo HDMI                  403
iPhone 14                  390
Mouse Gamer                379
Notebook Dell              369
Teclado Mecânico           343
Monitor 27"                332
Smartphone Samsung         311

### Analise por mais de um agrupamento

In [36]:
### analise por loja e por produto

## 1° quais produtos venderam mais em cada uma das lojas
df_analise_produtos_loja = df_analise[["Loja", "Produto","Qtd"]].groupby(["Loja", "Produto"]).sum() # aqui ele vai agrupar
# primeiro por cada uma das lojas E depois por cada produto (somando a quantidade de produto)
display(df_analise_produtos_loja)

## 2° quais lojas mais venderam os produtos
df_analise_lojas_em_produto = df_analise[["Loja", "Produto","Qtd"]].groupby(["Produto", "Loja"]).sum()
display(df_analise_lojas_em_produto)

                                    Qtd
Loja           Produto
Belo Horizonte Cabo HDMI           2636
               Monitor 27"         2625
               Mouse Gamer         2465
               Notebook Dell       2654
               Notebook HP         2775
...                                 ...
São Paulo      Notebook Dell       2535
               Notebook HP         2592
               Smartphone Samsung  2476
               Teclado Mecânico    2589
               iPhone 14           2735

[64 rows x 1 columns]

                           Qtd
Produto   Loja
Cabo HDMI Belo Horizonte  2636
          Curitiba        2698
          Online           403
          Porto Alegre    2571
          Recife          2534
...                        ...
iPhone 14 Porto Alegre    2540
          Recife          2652
          Rio De Janeiro  2702
          Salvador        2671
          São Paulo       2735

[64 rows x 1 columns]

### Analise por Gerente

In [39]:
## quais gerentes bateram a meda em janeiro de 2023
df_meta = df_analise[(df_analise["Data"].dt.year==2023) & (df_analise["Data"].dt.month==1)]
df_meta = df_meta[["Loja", "Faturamento"]].groupby("Loja", as_index=False).sum()

## agora vamos junta esse df com a base de dados dos gerentes
df_meta = df_meta.merge(gerentes_df, on="Loja", how="left") # on= nome da coluna que voce vai usar para fazer a correspondencia dos valores?
# nesse caso vai ser a coluna "Loja"! lembrando que isso funciona pq ambas as bases de dados possuem uma coluna com o nome "Loja"
# how="left" vai garantir que vai ser incluso tudo mundo da tabela da esquerda (no caso, df_meta). pq isso? pq pode ser que alguem da tabela
# da esquerda (ou da direita) nao tenha correspondencia com a tabela da direita via coluna passada no on=
# se vc n passa esse parametro do how, por padrao ele faz um inner_join, ou seja, ele so inclui quem tem correspondencia.quem n tem fica de fora

# Caso as quissemos fazer um merge entre duas tabelas, mas elas não possuem uma coluna com o mesmo nome (ou possuem, mas eu NAO quero
# usar ela no merge por qualquer motivo), ao inves de usar o on= nome_da_coluna, usariamos left_on=nome_da_coluna_da_tabela_a esquerda E
# right_on=nome_da_coluna_da_tabela_a_direita

# EXEMPLO: suponha que na base de dados do gerente, a coluna não se chama "Loja", mas sim "Cidade". o merge ficaria assim
# df_meta = df_meta.merge(gerentes_df, left_on="Loja", right_on="Cidade")

df_meta["Bateu Meta"] = np.where(df_meta["Faturamento"] >= df_meta["Meta_Mensal"], "Sim", "Não")

display(df_meta)

             Loja  Faturamento   Gerente  Meta_Mensal Bateu Meta
0  Belo Horizonte    1779100.0   Juliana      55000.0        Sim
1        Curitiba    1986920.0   Roberto      45000.0        Sim
2          Online     404570.0       NaN          NaN        Não
3    Porto Alegre    1726640.0     Pedro      42000.0        Sim
4          Recife    1779020.0    Marcos      48000.0        Sim
5  Rio De Janeiro    1736830.0  Fernanda      60000.0        Sim
6        Salvador    1686070.0       Ana      52000.0        Sim
7       São Paulo    1831140.0    Carlos      50000.0        Sim